body {
  position: relative; 
}

ul {
  list-style-type: square;
  color: rgb(0, 0, 0);
}

h1 {
  padding-top : 8vh
}

button {
  background-color : blue;
  border-color: rgb(38, 0, 255);
  color : white
}

button:hover {
  background-color: dodgerblue;
}

h3 {
  padding-top: 3.5vh
}


.con {
  border-radius: 25px;
  color: #000000;
  background-color: #86cfff;
}

.navbar {
  background-color: #003877;
}

.ul {
  padding-top : 3vh
}

.page-link {
  color : rgb(0, 0, 0);
  background-color : rgb(181, 188, 255);
  border-color: rgb(0, 0, 0);
}

.page-link:hover {
  color:rgb(255, 255, 255);
  border-color: rgb(0, 0, 0);
  background-color: rgb(8, 26, 189)
}

.this {
  background-color: rgb(8, 26, 189);
  color:rgb(255, 255, 255)
}

.form-control {
  border-color: rgb(0, 0, 0);
  border-width: 0.3vh;
}

.mark {
  color: black;
  font-size: 20px;
}

.form-control {
  width : 40vw;
  display: inline-block
}


#pie {
  text-align: center;
}

#section1 {
  padding-top:3vh;
  padding-bottom:3vh;
  height:max-content;
  width:100vw;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}

#section2 {
  padding-top:1.5vh;
  height:max-content;
  width:100vw;
  color: rgb(0, 0, 0); 
  background-color: rgb(252, 252, 252);
}

#titolo {
  padding-top: 2vh
}